#root {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}
.main {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
  background-color: #e8e3e3;
}

label {
  padding: 1em;
}

ul {
  list-style: none;
}

a {
  color: #2f2f2f;
  text-decoration: none;
}

.main::after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
.header {
  flex: none;
  height: 75px;
  color: lightgray;
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-between;

  padding: 1em;
}

.homeSearch form {
  line-height: 75px;
}

.siteTitle {
  line-height: 2em;
  margin: 0;
  font-size: 2em;
}

.card {
  background-color: #f1f1f1;
  margin: 30px;
  padding: 50px;
  box-shadow: 5px 5px 5px #cccccc;
  border-radius: 3px;
  min-height: 400px;
  width: 250px;
}

.card a {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  text-align: center;
}

.listContainer {
  max-width: 500px;
  margin: auto;
}
.listContainer h3 {
  font-style: italic;
  font-size: smaller;
  padding: 1em;
  font-weight: normal;
}

.card .thumbnailContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card .stars {
  padding: 1em;
}
