* {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

#root {
  min-width: 100%;
  min-height: 100%;
  font-family: "Lato", sans-serif;
}
.main {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
  /* background-color: #0000009e; */
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.main::after {
  content: "";
  position: absolute;
  background: url(./assets/hero-img.jpg) no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8;
}

.hero {
  color: white;
  font-family: "Limelight", cursive;
  padding: 2em 2em 0 2em;
  background: rgba(
    0,
    0,
    0,
    0.1
  ); /* If our image is bright, we can tone it down with this darker overlay */
}
.hero:after {
  content: "";
  position: absolute;
  background: url(./assets/hero-img.jpg) no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8; /* Tone the image down further by giving it transparency */
}

.hero h2 {
  font-size: 50px;
}

.hero h5 {
  font-size: 25px;
}

.volumeContainer {
  padding: 2em;
  height: 100vh;
  color: #4a4646;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+51,b6dffd+100;Shape+2+Style */
  background: linear-gradient(
    to bottom,
    rgba(181, 189, 200, 1) 0%,
    rgba(130, 140, 149, 1) 36%,
    rgba(40, 52, 59, 1) 100%
  );
}

.volumeContainer .card {
  width: 350px;
  margin: auto;
  border: solid 1px #b9b9b9;
}

.volumeContent .miniHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  max-width: 375px;
  min-width: 350px;
  margin-top: 1em;
  cursor: pointer;
  margin: auto;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#b6bac9 0%, #808080 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}

.c {
  margin: 2em 0 2em 0;
  position: absolute;
  max-width: 350px;
  max-height: 550px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
  overflow: scroll;
}

.back {
  padding: 20px;
  background: #d6d6d6;
}

.titleInfo {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.volumeAuthor {
  font-family: "Limelight", cursive;
  font-style: normal;
  margin-left: 50px;
}
.volumeAuthor h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

.titleInfo h5 {
  font-size: x-large;
  font-family: "Limelight", cursive;
}
.miniHeader img {
  width: 350px;
  height: auto;
  padding: 5px;
  border-radius: 3%;
}

.miniHeader {
  color: #2f2f2f;
  max-width: 500px;
  margin: auto;
}

.miniHeader h5 {
  margin-bottom: 5px;
  margin-left: 50px;
}

.miniHeader p {
  font-style: italic;
  color: #676767;
  font-size: small;
}

.titleMeta {
  margin-left: 50px;
}

.titleMeta p {
  margin-block-start: 2px;
  margin-block-end: 2px;
}

.description {
  padding: 1em;
  font-style: italic;
}

label {
  margin-right: 10px;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}

a {
  color: #5d5555;
  text-decoration: none;
}

.welcomeTitle {
  font-size: 2em;
  text-align: center;
  line-height: 2em;
}

.welcomeTitle h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

.main::after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

button {
  font-size: 1.4em;
  width: 170px;
  height: 50px;
  background-color: #004996;
  border-radius: 5px;
  border: solid 1px #717070;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: auto;
}

a button {
  width: auto;
  margin-bottom: 5px;
}

.homeSearch form {
  color: white;
  text-align: center;
  box-shadow: 5px 5px 5px #191818;
  background-color: #080808db;
  margin: 0% 10%;
  padding: 1em;
}

.home {
  color: #5d5555;
  width: 100vw;
  font-family: "Limelight", cursive;
}

.homeSearch input {
  width: 200px;
  margin: 1em;
  font-size: 1.4em;
}
label {
  display: none;
}

.sources {
  font-size: smaller;
  font-style: italic;
  font-weight: lighter;
  padding-top: 3em;
  color: #212121;
}

.sources p {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #212121;
}

.homeSearch .textArea {
  margin: auto;
  justify-content: center;
}

.siteTitle {
  line-height: 2em;
  margin: 0;
  font-size: 2em;
}

.card {
  background: #191818;
  margin: 30px;
  box-shadow: 5px 5px 20px #2f2f2f;
  border: 1px solid #191818;
  opacity: 0.8;
  border-radius: 5px;
  width: 190px;
}

.listCardWidth {
  width: 150px;
}

.card a {
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0.95;
  color: #b9b9b9;
}
.card a h5 {
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 12px;
}

.card a h4 {
  margin-block-start: 7px;
  margin-block-end: 7px;
  font-size: 12px;
  padding: 3px;
  border-bottom: #757373;
}

.listContainer h3 {
  font-style: italic;
  font-size: smaller;
  padding: 1em;
  font-weight: normal;
}

.listContainer {
  background: linear-gradient(
    to bottom,
    rgba(181, 189, 200, 1) 0%,
    rgba(130, 140, 149, 1) 36%,
    rgba(40, 52, 59, 1) 100%
  );
  width: 100%;
}

.listWrapper {
  display: flex;
  justify-content: center;
  max-width: 95%;
  flex-wrap: wrap;
  margin: auto;
}

.card .thumbnailContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card .stars {
  padding: 3px;
}

.c p {
  padding: 30px;
  color: #2f2f2f;
  text-align: justify;
  font-size: larger;
}

@media only screen and (max-width: 600px) {
  .titleInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .miniHeader h5,
  .volumeAuthor,
  .titleMeta {
    margin-left: 0;
  }

  .volumeContainer {
    padding: 1em;
  }
}
